DB_API_KEY=<generate-with-openssl-rand-hex-32>
DB_API_DB_PASSWORD=<db-api-user-password>
DB_API_DB_USER=db_api_user

POSTGRES_DB=appdb
DB_HOST=local-postgres
DB_PORT=5432
DB_SSLMODE=require

DB_API_MAX_ROWS=5000
DB_API_STATEMENT_TIMEOUT_MS=30000
DB_API_MAX_STATEMENT_TIMEOUT_MS=120000
DB_API_MAX_BODY_BYTES=4194304
DB_API_DB_NETWORK=postgres-stack-internal
DB_API_WEB_NETWORK=whybuddy-deploy_default
